/* ++++ */
/* FLEX */
/* ++++ */

.flex-left {
    display: flex;
    flex-grow: 1;
}
  
.flex-right {
    display: flex;
    align-items: center;
}

/*++++++++++++++++*/
/* NAVIGATION-BAR */
/*++++++++++++++++*/

.sticky-nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    
    z-index: 10;
}

  
.nav-box {
    width: 100%;
}
  
.nav-box a {
    letter-spacing: -1px;
}

.top-nav .logo {
    margin-left: 30px;
}

.gnb ul {
    display: flex;
    justify-content: space-between;
}

.gnb ul li {
    margin-right: 30px;
}

.gnb ul li:last-child {
    margin-right: 20px;
}

.logo-ewhachain {
    align-self: center;
    margin-left: 40px;
    margin-right: 20px;
}

.ewhachain-title {
    align-self: center;
}

/*++++++++++++++++*/
/* SECTION - HOME */
/*++++++++++++++++*/

.circle-container {
    display: flex;
    flex-grow: 1;
    border: 10px solid green;
    text-align: center;
}

.sub-title {
    width: max-content;
    margin-top: 0;
}

.sub-content {
    margin-left: 50px;
}

.content {
    margin-left: 50px;
}

.sub-section {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.section {
    width: 100%;
    /* height: 500px; */
    overflow: hidden;
    position: relative;
}

.sec-half {
    height: 300px;
}

.sec-01 {
    margin-top: 80px;
    height: 300px;
}

.sec-02 {
    display: flex;
}

.sec-04-01 {
    margin-bottom: 20px;
}

.sec-04-01, .sec-04-02 {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-bottom: 30px;
    background: #EDEDED;
}

.section-upper {
    border: 10px solid blue;
}

.section-left {
    width: 50%;
    /*    top   right bottom left */
    margin: 30px  30px  0   0px;
    border: 3px solid tomato;

}

.section-right {
    width: 50%;
    margin-top: 30px;
    margin-right: 50px;
    border: 3px solid tomato;

}

/* SECTION - Our Activity */
.wrapper-circle {
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
}

.wrapper-icontxt {
    display: inline-block;
    width: 220px;
    height: 260px;
    margin-bottom: 20px;
    text-align: center;
}

.circle-icon {
    margin-bottom: 20px;
}

.icontxt {
    display: block;
    height: 50px;
    /* text vertical align middle */
    border: 2px solid red;
}

/*++++++++*/
/* FOOTER */
/*++++++++*/

.footer-container {
    display: flex;
    flex-grow: 1;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.menu-left {
    margin-left: 50px;
    flex-grow: 1;
}

.menu-right {
    margin-right: 50px;
}

.footer-title {
    margin-top: 10px;
    margin-bottom: 15px;
}

.footer-icons {
    display: block;
    margin-top: 25px;
}

.footer-icons ul {
    display: flex;
}

.btn-image {
    margin-right: 50px;
}

#icon-instagram {
    margin-right: 0;
}