/* ++++ */
/* FLEX */
/* ++++ */

.flex-left {
    display: flex;
    flex-grow: 1;
}
  
.flex-right {
    display: flex;
    align-items: center;
}

/*++++++++++++++++*/
/* NAVIGATION-BAR */
/*++++++++++++++++*/

.sticky-nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    
    z-index: 10;
}

  
.nav-box {
    width: 100%;
}
  
.nav-box a {
    letter-spacing: -1px;
}

.top-nav .logo {
    margin-left: 30px;
}

.gnb ul {
    display: flex;
    justify-content: space-between;
}

.gnb ul li {
    margin-right: 30px;
}

.gnb ul li:last-child {
    margin-right: 20px;
}

.logo-ewhachain {
    align-self: center;
    margin-left: 40px;
    margin-right: 20px;
}

.ewhachain-title {
    align-self: center;
}

/*++++++++++++++++*/
/* SECTION - HOME */
/*++++++++++++++++*/

.circle-container {
    display: flex;
    flex-grow: 1;
    /* border: 10px solid green; */
    color: black;
    text-align: center;
}

.sub-title {
    width: max-content;
    margin-top: 0;
}

.sub-content {
    margin-left: 50px;
}

.content {
    margin-left: 50px;
    font-family: 'AppleSDGothicNeo';
}

.sub-section {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.section {
    width: 100%;
    /* height: 500px; */
    position: relative;
}

/* 


*/

.sec-01 {
    margin-top: 0px;
    height: 700px;
}

.sec-02 {
    display: flex;
}

.sec-04-01 {
    margin-bottom: 20px;
}

.sec-04-01, .sec-04-02 {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-bottom: 30px;
    background: #EDEDED;
}

.sec-06 {
    padding: 20px 0;
    background: #EDEDED;
}

.sec-06-01 {
    display: flex;
    justify-content: center;
    padding-left: 40px;
}

.section-upper {
    font-size: 120%;
    margin: 20px 0;
    font-family: 'Josefin Sans', sans-serif;
    /* border: 10px solid blue; */
}

.section-left {
    width: 50%;
    /*    top   right bottom left */
    margin: 30px  30px  0   0px;
    /* border: 3px solid tomato; */

}

.section-right {
    width: 50%;
    margin-top: 30px;
    margin-right: 50px;
}

/* SECTION - Our Activity */
.wrapper-circle {
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
    display: inline-block;
}

.wrapper-icontxt {
    display: inline-block;
    width: 220px;
    height: 260px;
    margin-bottom: 20px;
    text-align: center;
}

.icontxt {
    display: block;
    height: 50px;
    font-family: 'AppleSDGothicNeo';
    /* text vertical align middle */
    /* border: 2px solid red; */
}

/*++++++++*/
/* FOOTER */
/*++++++++*/

.footer-container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.footer {
    position: relative;
    display: block;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.menu-left {
    margin-left: 20px;
    flex-grow: 1;
    min-width: 360px;
    flex-basis: 200px;
}

.menu-right {
    margin-right: 20px;
    flex-basis: 200px;
}

@media screen and (max-width: 749px) {
    .menu-right {
        margin-left: 20px;
        margin-top:10px;
    }
    .footer{
        padding-bottom:10px;
    }
   }


.footer-title {
    margin-top: 10px;
    margin-bottom: 15px;
}

.footer-icons {
    display: block;
    margin-top: 25px;
}

.footer-icons ul {
    display: flex;
}

.btn-image {
    margin-right: 50px;
}

#icon-instagram {
    margin-right: 0;
}

/* PORTFOLIO PAGE */
.timeline {
    margin-top: 80px;
}

/* RECRUITING PAGE */
.recruiting {
    margin-top: 80px;
}

/* ACTING PAGE */
.member {
    margin-top: 80px;
}

@media screen and (max-width: 768px) {
    .wrapper-icontxt {
        width: 150px;
        height: 170px;
    }

    .sec-04-01, .sec-04-02 {
        padding-left: 30px;
    }
}

#beyond-logo{
    width:70%;
}

@media screen and (min-width: 768px) {
    #beyond-logo{
        margin:20px;
    }
    .sec-04-02 {
        padding-bottom: 20px;
    }
}