/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans+KR&display=swap');

@font-face {
    font-family: 'AppleSDGothicNeo';
    src: url('font/AppleSDGothicNeoR.ttf');
}
/* 
* {
    font-family: 'AppleSDGothicNeo';
} */

::selection {
    color: #FFFFFF;
    background: #6B70B0;
} 

html::-webkit-scrollbar {
    /* Chrome, Safari*/
    /* display: none;  */
}

html,
body {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}
    
li {
    list-style: none;
    padding-right: 10px;
}
    
a {
    text-decoration: none;
    color: white;
}

h2, p {
    margin: 0;
}

a:active,
a:hover {
  text-decoration: none;
}

/*++++++++++++++++*/
/* NAVIGATION-BAR */
/*++++++++++++++++*/

.top-nav {
    align-items: center;
    word-break: keep-all;
    background: #2d7257;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #11998e, #2d7257);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #11998e, #2d7257); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* border-bottom: hidden 1px #e7e7e7; */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.gnb a{
    font-family: 'Josefin Sans', sans-serif;
}

.gnb a:hover {
    font-weight: bolder;
}

#menu-btn {
    cursor: pointer;
    margin-right: 20px;
}

.gnb-content {
    margin-top: 80px;
}

.gnb-content li {
    cursor: pointer;
    padding: 8px 20px;
    border-bottom: 1px solid #2d7257;
}

.gnb-content a {
    width: 100%;
    color: black;
}

.gnb-content li:hover a {
    font-weight: bolder;
    color: #2d7257;
}

.ewhachain-title {
    color: white;
    word-break: keep-all;
}

.ewhachain-title .kor {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 70%;
    letter-spacing: 2px;
}

.ewhachain-title .eng {
    font-size: 140%;
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif;
    /* font-style: italic; */
    text-transform: uppercase;
    /* letter-spacing: 1px; */
}

/*++++++++++*/
/* DROPDOWN */
/*++++++++++*/

.gnb ul li {
    padding-top: 40px;
    padding-bottom: 40px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

/* 펼치기 전 (none) */
.dropdown-content {
    display: none;
    position: fixed;
    top: 80px;
    width: 120px;
    height: max-content;
    right: 0;
    background-color: white;
    overflow: auto;
}

/* 펼친 후 커서 올렸을 때 */
.dropdown-content a:hover {
    font-weight: 500;
}
  
/* 펼칠 때 */
.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content-submenu {
    display: inline-block;
    flex-grow: 1;
    text-align: center;
}

.dropdown-content-submenu a {
    padding: 6px 0;
    border: 1px solid #2d7257;
    border-top: none;
    display: block;
    color: #2d7257;
}

.dropdown-content-submenu a:hover {
    font-weight: bolder;
    transition-duration: 0s;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

/*++++++++++++++++*/
/* SECTION - HOME */
/*++++++++++++++++*/

/*+++++++++++++++++++++*/
/* SECTION 01 - SLOGAN */
/*+++++++++++++++++++++*/

.sec-01 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

#sec-01-title {
    margin-top: 110px;
    margin-bottom: 10px;
    /* text-transform: uppercase; */
    font-size: 300%;
    /* font-weight: 1100; */
    letter-spacing: 1.3px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}


#sec-01-slogan {
    color: white;
    font-size: 120%;
    font-weight: 300;
    display: none;
}

/*++++++++++++++++++++++++++*/
/* SECTION 02 - Our Mission */
/*++++++++++++++++++++++++++*/

.section-img {
    width: 100%;
    height: 100%;
    background-image: url(img/session_img.jpg);
    background-color: linear-gradient(#5f72bd, rgba(71, 64, 191, 0));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.section-img:hover {
    cursor: pointer;
    width: 120%;
    height: 120%;
    /* transform: translateY(-10%); */
    /* transition: 0.5s ease-in-out; */
}

.section-upper::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 35px;
    margin-left: 20px;
    border-right: 6px solid black;
}

.sub-title {
    height: max-content;
    /*    top   right bottom left */
    margin: 30px  30px  0   50px;
    /* border: 10px solid yellowgreen; */
}

/*+++++++++++++++++++++++++++*/
/* SECTION 03 - Our Activity */
/*+++++++++++++++++++++++++++*/

.circle-icon, .circle-icon-member {
    margin: 0 auto;
    padding: 20px;
    background: #2d7257;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.circle-icon {
    width: 150px;
    height: 150px;
    background-size: 100px;
    background-image: url(img/icon/link.png);
}

#circle-03 {
    background-image: url(img/icon/networking.png);
}

#circle-06 {
    background-image: url(img/icon/url.png);
}

.circle-icon-member {
    width: 100px;
    height: 100px;
    background: white;
    background-size: 140px;
    background-image: url(img/icon/profile.png);
}

.circle-icon, .circle-icon-member {
    margin-bottom: 20px;
    transition: background-size 0.5s ease-in-out;
}

.circle-icon:hover {
    cursor: pointer;
    background-size: 120px;
}

#company-logo, #beyond-logo {
    transition: width 0.5s ease-in-out;
}

#company-logo:hover {
    cursor: pointer;
    width: 330px;
}

#beyond-logo:hover {
    cursor: pointer;
    width: 330px;
}

/* SECTION - Recruiting Banner */
.txtbtn {
    display: inline-block;
    color: #2d7257;
    font-size: 100%;
    margin-top: 20px;
    padding: 5px 10px;
    background: white;
    border: 1px solid #2d7257;
    border-radius: 5px;
}

.txtbtn:hover{
    background: #f5f4f4;
    cursor: pointer;
}

/*++++++++*/
/* FOOTER */
/*++++++++*/

.footer {
    align-items: center;
    word-break: keep-all;
    background-color: #2d7257;
}

.btn-image {
    background: none;
}


.typing-txt{display: none;}

ul{list-style:none;}

.typing ul li{
  display:block;
  margin-bottom: 10px;
}
.typing ul li.on {  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.3s; 
  animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
  }

@media screen and (max-width: 768px) {
    .wrapper-icontxt {
        width: 150px;
        height: 200px;
    }
}